#game div {
    border: 1px solid black;
    border-radius: 8px;
    width: 15%;
    height: 200px;
    margin: 10px;
    display: inline-block;
    background-color: rgb(243, 235, 235);
}
body {
    display: flexbox;
    justify-content: center;
    text-align: center;
    background-color: brown;
}
button {
    display: inline-block;
    font-size: large;
}